body
{
    background-color: black;
    text-align: center;
}

.chilanka-regular
{
    font-family: "Chilanka", cursive;
    font-weight: 400;
    font-style: normal;
}

.title-text
{
    font-family: "Chilanka", cursive;
    font-size: 60px;
    color: white;
}

.support-text
{
    font-family: "Chilanka", cursive;
    color: lightpink;
}

.info-text
{
    font-family: "Chilanka", cursive;
    color: white;
    font-size: 20px;
}

.activity-button
{
    font-family: "Chilanka", cursive;
    border-color: lightpink;
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    opacity: .8;
    transition: .5s;
}

.activity-button:hover
{
    opacity: 1;
    background-color: plum;
}

.activity-button:active
{
    opacity: .4;
    background-color: plum;
}



.container
{
    position: relative;
    height: 100px
}

.box
{
    width: 200px;
    height: 100px;
    border: 10px;
    border-radius: 10px;
    background-color: lightslategray;
    align-content: center;
}

.alignment
{
    margin: 0;
    left: 50%;
    top: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.activity-title
{
    font-family: "Chilanka", cursive;
    color: white;
    margin: 1;
}

.activity-text
{
    font-family: "Chilanka", cursive;
    color: white;
}